
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quien Soy</title>
</head>
<body>

<div class="container-fluid bg-1 text-center">
    <h3>¿Quien Soy?</h3>
    <img src="../../../assets/Fotocv1.jpg" class="img-circle" alt="Benjamin Schell">
    <h3>Soy una persona que estudia, trabaja y busca aprender con humildad todo lo que esta a su alcance</h3>
  </div>
  
  <div class="container-fluid bg-2 text-center">
    <h3>Objetivo</h3>
    <p>Dejar mi mejor granito de arena</p>
  </div>
  
  <!-- <div class="container-fluid bg-3 text-center">
    <h3>Where To Find Me?</h3>
    <p>Lorem ipsum..</p>
  </div> -->
  <p><a routerLink="/home">Home</a></p>
</body>
</html>