

<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
  <div class="text-center my-5">
    <h1 class="text-white fs-3 fw-bolder">Benjamin Schell</h1>
    <!-- <p class="text-white-50 mb-0">Landing Page Template</p> -->
  </div>
  <div class="text-center my-5">
    <img src="../../../assets/Fotocv1.jpg" class="img-thumbnail" alt="Benjamin Schell" />
    <br><br>
    <p>Soy estudiante de la Tecnicatura Universitaria en Programación en la Universidad Tecnologica Nacional.
      Afortunadamente hoy me encuentro trabajando en una de las empresas de software más importantes del país en la cual
      estoy explotando y expandiendo mis aprendisajes. Con este humilde proyecto, pretendo tener mi primer acercamiento
      a esta potente herramienta llamada Angular, por lo que espero coseguir el objetivo de generar una
      pequeña sala de juegos</p>

  </div>
</header>
