<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
  <div class="text-center my-5">
    <h1 class="text-white fs-3 fw-bolder">Sala de Juegos</h1>
    <!-- <p class="text-white-50 mb-0">Landing Page Template</p> -->
  </div>
  <div class="text-center my-5">
    <img class="img-thumbnail" src="./assets/control.jpg " alt="Foto Home" />
    <!-- <p class="text-white-50 mb-0">Landing Page Template</p> -->
  </div>
</header>
<!-- Content section-->
<!-- <section class="py-5">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2>Content...</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nemo quos suscipit quasi ut
          repellendus consequuntur enim, voluptatem repellat, aliquam incidunt aperiam ea accusamus recusandae
          temporibus fuga possimus, vero nam.</p>
      </div>
    </div>
  </div>
</section> -->
<!-- Image element - set the background image for the header in the line below-->

